@use 'hero';
@use 'trailers';
@use 'cast';
@use 'description';
@use 'footer';
@use 'header';

body {
    background-color: #FFFFFFA3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif; 
    list-style: none;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
